@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;600&display=swap');

body{
    font-family: 'Raleway', sans-serif;
}

header{
    width: 1024px;
    height: 104px;
    margin: auto; /* centrar la caja */
    background-color: #EFF5F1;
}
    header img{
        margin: 20px;
    }


main{
    width: 1024px;
    height: 640px;
    margin: auto; /* centrar la caja */
}

    h1{
        font-size: 32px;
        text-align: left;
    }
    section{
        text-align: center;
    }

footer{
    width: 1024px;
    height: 152px;
    margin: auto; /* centrar la caja */
    background-color: #111C15;
}